[color]
	ui = true
[core]
	editor = vim
[user]
	email = me@juan.do
	name = Juan Sepulveda
[alias]
	ac = !git add -A && git commit -m
	pl = !git pull origin $(git rev-parse --abbrev-ref HEAD)
	ph = !git push origin $(git rev-parse --abbrev-ref HEAD)
	pld = pull origin devel
	phd = push origin devel
	plm = pull origin master
	phm = push origin master
	cp = cherry-pick
	all = add --all
	st = status
	sts = status -s
	cl = clone
	ci = commit
	cim = commit -m
	cia = commit --amend
	co = checkout
	cob = checkout -b
	br = branch
	ff = diff --word-diff
	dc = diff --cached
	rb = rebase
	rlog = reflog
	pushall = push --recurse-submodules=on-demand
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	undo = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
	lol = log --pretty=oneline --abbrev-commit --graph --decorat
